---
import NumberInput from '@/components/molecules/NumberInput/NumberInput.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
    <section class="section">
        <div class="container">
            <h1 class="title is-1">401k</h1>
            <div class="content">
                <p>
                    Enter your 401k details and rest assured you are maximizing your contributions.
                </p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div x-data="maximize401kXData()" x-init="methods.init">
                <div class="block">
                    <div class="box">
                        <h2 class="title is-2">Enter Your 401k Details</h2>

                        <NumberInput
                            label="Annual Salary"
                            addOnIcon="fa-dollar-sign"
                            xModel="data.annualSalary"
                            onInput="methods.on401kDetailsInput"
                        />

                        <NumberInput
                            label="Annual Contribution Limit"
                            addOnIcon="fa-dollar-sign"
                            xModel="data.annualContributionLimit"
                            onInput="methods.on401kDetailsInput"
                        />

                        <NumberInput
                            label="Contributions So Far"
                            addOnIcon="fa-dollar-sign"
                            xModel="data.contributionsSoFar"
                            onInput="methods.on401kDetailsInput"
                        />

                        <NumberInput
                            label="Paychecks Per Year"
                            addOnIcon="fa-hashtag"
                            xModel="data.paychecksPerYear"
                            onInput="methods.on401kDetailsInput"
                        />

                        <NumberInput
                            label="Paychecks Remaining"
                            addOnIcon="fa-hashtag"
                            xModel="data.paychecksRemaining"
                            onInput="methods.on401kDetailsInput"
                        />
                    </div>
                </div>
                <div class="block" x-cloak x-show="methods.showMaximize401k" x-transition>
                    <div class="box">
                        <h2 class="title is-2">Maximize Your 401k</h2>

                        <NumberInput
                            label="Contribution Percent"
                            extraStyle="is-primary"
                            addOnIcon="fa-percent"
                            addOnStatic="false"
                            value="data.ceilContributionPercent"
                            readonly="true"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>

<script src="./_401k.client.ts"></script>
