---
import DateInput from '@/components/molecules/DateInput/DateInput.astro';
import FileUpload from '@/components/molecules/FileUpload/FileUpload.astro';
import NumberInput from '@/components/molecules/NumberInput/NumberInput.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
    <section class="section">
        <div class="container">
            <h1 class="title is-1">ESPP</h1>
            <div class="content">
                <p>
                    Employee Stock Purchase Plans (ESPPs) are great — dealing with their taxes is
                    not.
                </p>
                <p>
                    ESPP Taxes can depend on:
                    <ul>
                        <li>
                            If the stock price was higher at the beginning of the offering period,
                            or the end
                        </li>
                        <li>How long you hold the stock after purchase</li>
                        <li>Whether you sell the stock at a gain or loss</li>
                    </ul>
                </p>
                <p>
                    Load your past ESPP purchases into the tool and understand your tax
                    implications.
                </p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div x-data="purchaseTableXData()" x-init="methods.init" @upload="methods.onFileUpload">
                <div class="block" x-cloak x-show="data.user" x-transition>
                    <div class="box">
                        <h2 class="title is-2">Upload an ESPP Lot</h2>
                        <div class="block">
                            <button class="button is-primary" @click="methods.openNewLotModal">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span>Add ESPP Lot</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="modal" :class="{ 'is-active': data.isNewLotModalActive }">
                    <div class="modal-background" @click="methods.closeNewLotModal"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Add ESPP Lot</p>
                            <button
                                class="delete"
                                aria-label="close"
                                @click="methods.closeNewLotModal"></button>
                        </header>
                        <section class="modal-card-body">
                            <DateInput
                                label="Grant Date"
                                xModel="data.newESPPLot.grantDate"
                                onInput="methods.onNewLotInput"
                            />

                            <DateInput
                                label="Purchase Date"
                                xModel="data.newESPPLot.purchaseDate"
                                onInput="methods.onNewLotInput"
                            />

                            <NumberInput
                                label="Offer Start Price"
                                addOnIcon="fa-dollar-sign"
                                xModel="data.newESPPLot.offerStartPrice"
                                onInput="methods.onNewLotInput"
                            />

                            <NumberInput
                                label="Offer End Price"
                                addOnIcon="fa-dollar-sign"
                                xModel="data.newESPPLot.offerEndPrice"
                                onInput="methods.onNewLotInput"
                            />

                            <NumberInput
                                label="Purchase Price"
                                addOnIcon="fa-dollar-sign"
                                xModel="data.newESPPLot.purchasePrice"
                                onInput="methods.onNewLotInput"
                            />

                            <NumberInput
                                label="Shares"
                                addOnIcon="fa-hashtag"
                                xModel="data.newESPPLot.shares"
                                onInput="methods.onNewLotInput"
                            />
                        </section>
                        <footer class="modal-card-foot">
                            <div class="buttons">
                                <button
                                    class="button is-success"
                                    :class="{ 'is-loading': data.isSavingNewLot }"
                                    :disabled="!data.canSaveNewLot"
                                    @click="methods.saveNewLot"
                                >
                                    Save
                                </button>
                                <button class="button" @click="methods.closeNewLotModal">
                                    Cancel
                                </button>
                            </div>
                        </footer>
                    </div>
                </div>

                <div class="block" x-cloak x-show="!data.user" x-transition>
                    <div class="box">
                        <h2 class="title is-2">Upload Your ESPP Purchases</h2>
                        <div class="block">
                            <FileUpload />
                        </div>

                        <div class="block">
                            <article class="message is-info">
                                <div class="message-body">
                                    Upload a CSV with: <span x-text="methods.displayRequiredFields"
                                    ></span>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

                <div class="block" x-cloak x-show="methods.showTaxConsiderations" x-transition>
                    <div class="box">
                        <h2 class="title is-2">Tax Consideration Parameters</h2>

                        <NumberInput
                            label="NKE Market Price"
                            addOnIcon="fa-dollar-sign"
                            xModel="data.nkeMarketPrice"
                            onInput="methods.onMarketPriceInput"
                        />
                    </div>
                </div>

                <div class="block" x-cloak x-show="methods.showTaxConsiderations" x-transition>
                    <div class="box">
                        <h2 class="title is-2">Tax Consideration Results</h2>
                        <div class="table-container">
                            <table class="table is-hoverable">
                                <thead>
                                    <tr>
                                        <th>Grant Date</th>
                                        <th>Purchase Date</th>
                                        <th>Offer Start Price</th>
                                        <th>Offer End Price</th>
                                        <th>Purchase Price</th>
                                        <th>Shares</th>
                                        <th>Discount Amount</th>
                                        <th>Total Gain/Loss</th>
                                        <th>Disqualifying Disposition w/ STCG Taxes</th>
                                        <th>Disqualifying Disposition w/ LTCG Taxes</th>
                                        <th>Qualifying Disposition</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template x-if="data.isLoadingESPPLots">
                                        <tr>
                                            <td colspan="11">
                                                <progress class="progress is-primary">
                                                    Loading...
                                                </progress>
                                            </td>
                                        </tr>
                                    </template>
                                    <template
                                        x-if="
                                            !data.isLoadingESPPLots && data.purchases.length === 0
                                        "
                                    >
                                        <tr>
                                            <td colspan="11">
                                                <div class="has-text-centered">
                                                    No ESPP purchases found.
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                    <template
                                        x-if="
                                            !data.isLoadingESPPLots && data.purchases.length !== 0
                                        "
                                    >
                                        <template
                                            x-for="(purchase, index) in data.purchases"
                                            :key="purchase.id"
                                        >
                                            <tr>
                                                <td
                                                    x-text="
                                                        methods.formatDateYYYYMMDD(
                                                            purchase.grantDate
                                                        )
                                                    "
                                                ></td>
                                                <td
                                                    x-text="
                                                        methods.formatDateYYYYMMDD(
                                                            purchase.purchaseDate
                                                        )
                                                    "
                                                ></td>
                                                <td
                                                    class="has-text-right"
                                                    x-text="
                                                        methods.formatUSD(purchase.offerStartPrice)
                                                    "
                                                ></td>
                                                <td
                                                    class="has-text-right"
                                                    x-text="
                                                        methods.formatUSD(purchase.offerEndPrice)
                                                    "
                                                ></td>
                                                <td
                                                    class="has-text-right"
                                                    x-text="
                                                        methods.formatUSD(purchase.purchasePrice)
                                                    "
                                                ></td>
                                                <td class="has-text-right" x-text="purchase.shares"
                                                ></td>
                                                <td
                                                    class="has-text-right"
                                                    x-text="
                                                        methods.formatUSD(purchase.discountAmount)
                                                    "
                                                ></td>
                                                <td
                                                    class="has-text-right"
                                                    x-text="
                                                        methods.formatUSD(purchase.totalGain)
                                                    "
                                                ></td>
                                                <td
                                                    class="has-text-right"
                                                    :class="
                                                data.outcomeClasses[
                                                    purchase.dispositions?.disqualifyingSTCG.outcome
                                                ]
                                            "
                                                    x-text="
                                                methods.formatUSD(
                                                    purchase.dispositions?.disqualifyingSTCG.taxes
                                                )
                                            "
                                                ></td>
                                                <td
                                                    class="has-text-right"
                                                    :class="
                                                data.outcomeClasses[
                                                    purchase.dispositions?.disqualifyingLTCG.outcome
                                                ]
                                            "
                                                    x-text="
                                                methods.formatUSD(
                                                    purchase.dispositions?.disqualifyingLTCG.taxes
                                                )
                                            "
                                                ></td>
                                                <td
                                                    class="has-text-right"
                                                    :class="
                                                    data.outcomeClasses[
                                                        purchase.dispositions?.qualifying.outcome
                                                    ]
                                                "
                                                    x-text="
                                                    methods.formatUSD(
                                                        purchase.dispositions?.qualifying.taxes
                                                    )
                                                "
                                                ></td>
                                                <td class="has-text-centered is-vcentered">
                                                    <div
                                                        class="dropdown is-right"
                                                        :class="
                                                            {
                                                                'is-up':
                                                                    methods.isLastElement(
                                                                        data.purchases,
                                                                        index
                                                                    ),
                                                                'is-active':
                                                                    purchase.uiState.isActionsOpen
                                                            }
                                                        "
                                                        @click.outside="methods.closeActions"
                                                    >
                                                        <div class="dropdown-trigger">
                                                            <button
                                                                class="button is-small"
                                                                aria-haspopup="true"
                                                                aria-controls="dropdown-menu"
                                                                @click.stop="
                                                                    methods.toggleActions
                                                                "
                                                                :data-purchase-id="purchase.id"
                                                            >
                                                                <span class="icon is-small">
                                                                    <i class="fas fa-ellipsis-v"
                                                                    ></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <div class="dropdown-menu" role="menu">
                                                            <div class="dropdown-content">
                                                                <a
                                                                    class="button
                                                                        is-ghost
                                                                        dropdown-item
                                                                        has-text-danger"
                                                                    :class="
                                                                        {
                                                                        'is-loading':
                                                                        purchase.uiState.isDeleting
                                                                        }
                                                                    "
                                                                    @click.stop="
                                                                        methods.deleteLot
                                                                    "
                                                                    :data-purchase-id="purchase.id"
                                                                >
                                                                    <span
                                                                        class="icon is-small mr-1"
                                                                    >
                                                                        <i class="fas fa-trash"></i>
                                                                    </span>
                                                                    Delete
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="./_espp.client.ts"></script>
</BaseLayout>
