---
import DateInput from '@/components/molecules/DateInput/DateInput.astro';
import NumberInput from '@/components/molecules/NumberInput/NumberInput.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Paycheck</h1>
            <div class="content">
                <p>You work hard enough — get a little help with your pay.</p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div x-data="paychecksRemainingXData()" x-init="methods.init">
                <div class="block">
                    <div class="box">
                        <h2 class="title is-2">Enter Your Paycheck Schedule</h2>

                        <NumberInput
                            label="Paychecks Per Year"
                            addOnIcon="fa-hashtag"
                            xModel="data.paychecksPerYear"
                            onInput="methods.onPaychecksRemainingInput"
                        />
                        <DateInput
                            label="Known Paycheck Date"
                            xModel="data.knownPaycheckDate"
                            onInput="methods.onPaychecksRemainingInput"
                        />
                    </div>
                </div>
                <div class="block" x-cloak x-show="methods.showPaychecksRemaining" x-transition>
                    <div class="box">
                        <h2 class="title is-2">Paychecks Remaining</h2>

                        <NumberInput
                            label="Paychecks Remaining"
                            extraStyle="is-primary"
                            addOnIcon="fa-hashtag"
                            addOnStatic="false"
                            value="data.paychecksRemaining"
                            readonly="true"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>

<script src="./_paycheck.client.ts"></script>
