<div x-data="signUpXData()">
    <button @click="methods.signUp" class="button is-primary is-fullwidth">
        <span class="icon">
            <i class="fas fa-user-plus"></i>
        </span>
        <span>Sign Up</span>
    </button>
</div>

<script src="./sign-up.client.ts"></script>
