<div x-data="logoutXData()">
    <button @click="methods.logout" class="button is-secondary is-fullwidth">
        <span class="icon">
            <i class="fas fa-sign-out-alt"></i>
        </span>
        <span>Logout</span>
    </button>
</div>

<script src="./logout.client.ts"></script>
