---
import '@/styles/global.css';
import Navigation from '@/components/organisms/Navigation/Navigation.astro';
import { SITE_EMOJI, SITE_DESCRIPTION } from '@/constants';
import { generateEmojiFaviconURL } from '@/utils/favicon';

const faviconURL = generateEmojiFaviconURL(SITE_EMOJI);
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href={faviconURL} />
        <meta name="generator" content={Astro.generator} />
        <title>{SITE_DESCRIPTION}</title>
    </head>
    <body>
        <Navigation />

        <slot />

        <footer class="footer">
            <div class="level">
                <div class="level-item has-text-centered">
                    <p>
                        Made with
                        <span class="icon has-text-danger">
                            <i class="fas fa-heart"></i>
                        </span>
                        by lessthanthree.
                    </p>
                </div>
                <div class="level-item has-text-centered">
                    <p>
                        See the source
                        <a href="https://github.com/ljhurst/fife">
                            <span class="icon has-text-text">
                                <i class="fa-brands fa-github"></i>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
