<div x-data="signInXData()">
    <button @click="methods.signIn" class="button is-secondary is-fullwidth">
        <span class="icon">
            <i class="fas fa-sign-in-alt"></i>
        </span>
        <span>Sign In</span>
    </button>
</div>

<script src="./sign-in.client.ts"></script>
