---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
    <section class="section">
        <div class="container">
            <h1 class="title is-1">401k</h1>
            <div class="content">
                <p>
                    Input your 401k details to rest assured you are maximizing your contributions.
                </p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div x-data="maximize401kXData()">
                <div class="block">
                    <div class="box">
                        <h2 class="title is-2">Input Your 401k Details</h2>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Annual Salary</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="field has-addons">
                                        <p class="control">
                                            <a class="button is-static">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-dollar-sign"></i>
                                                </span>
                                            </a>
                                        </p>
                                        <p class="control is-expanded">
                                            <input
                                                class="input has-text-right"
                                                type="number"
                                                min="0"
                                                placeholder="0"
                                                x-model="data.annualSalary"
                                                @input="methods.on401kDetailsInput"
                                            />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Annual Contribution Limit</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="field has-addons">
                                        <p class="control">
                                            <a class="button is-static">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-dollar-sign"></i>
                                                </span>
                                            </a>
                                        </p>
                                        <p class="control is-expanded">
                                            <input
                                                class="input has-text-right"
                                                type="number"
                                                min="0"
                                                step="1"
                                                placeholder="0"
                                                x-model="data.annualContributionLimit"
                                                @input="methods.on401kDetailsInput"
                                            />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Contributions So Far</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="field has-addons">
                                        <p class="control">
                                            <a class="button is-static">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-dollar-sign"></i>
                                                </span>
                                            </a>
                                        </p>
                                        <p class="control is-expanded">
                                            <input
                                                class="input has-text-right"
                                                type="number"
                                                min="0"
                                                placeholder="0"
                                                x-model="data.contributionsSoFar"
                                                @input="methods.on401kDetailsInput"
                                            />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Paychecks Per Year</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="field has-addons">
                                        <p class="control">
                                            <a class="button is-static">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-hashtag"></i>
                                                </span>
                                            </a>
                                        </p>
                                        <p class="control is-expanded">
                                            <input
                                                class="input has-text-right"
                                                type="number"
                                                step="1"
                                                min="0"
                                                placeholder="0"
                                                x-model="data.paychecksPerYear"
                                                @input="methods.on401kDetailsInput"
                                            />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Paychecks Remaining</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="field has-addons">
                                        <p class="control">
                                            <a class="button is-static">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-hashtag"></i>
                                                </span>
                                            </a>
                                        </p>
                                        <p class="control is-expanded">
                                            <input
                                                class="input has-text-right"
                                                type="number"
                                                step="1"
                                                min="0"
                                                placeholder="0"
                                                x-model="data.paychecksRemaining"
                                                @input="methods.on401kDetailsInput"
                                            />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block" x-cloak x-show="methods.showMaximize401k" x-transition>
                    <div class="box">
                        <h2 class="title is-2">Maximize 401k</h2>

                        <fieldset disabled>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Contribution Percent</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow">
                                        <div class="field has-addons">
                                            <p class="control">
                                                <a class="button is-static">
                                                    <span class="icon is-small is-left">
                                                        <i class="fas fa-percent"></i>
                                                    </span>
                                                </a>
                                            </p>
                                            <p class="control is-expanded">
                                                <input
                                                    class="input has-text-right"
                                                    type="number"
                                                    placeholder="0"
                                                    :value="data.ceilContributionPercent"
                                                />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>

<script src="./_401k.client.ts"></script>
