---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
    <section class="section">
        <div class="container">
            <h1 class="title is-1">ESPP</h1>
            <h2 class="title is-2">Tax Considerations</h2>

            <div x-data="purchaseTableXData()">
                <div class="field">
                    <label class="label">NKE Market Price</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Enter NKE Market Price"
                            x-model="data.nkeMarketPrice"
                            @input="methods.onMarketPriceInput"
                        />
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Grant Date</th>
                            <th>Purchase Date</th>
                            <th>Offer Start Price</th>
                            <th>Offer End Price</th>
                            <th>Purchase Price</th>
                            <th>Shares</th>
                            <th>Discount Amount</th>
                            <th>Current Gain/Loss</th>
                            <th>Disqualifying Disposition w/ STCG Taxes</th>
                            <th>Disqualifying Disposition w/ LTCG Taxes</th>
                            <th>Qualifying Disposition</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template
                            x-for="purchase in data.purchases"
                            :key="purchase.grantDate.toString()"
                        >
                            <tr>
                                <td x-text="methods.formatDateYYYYMMDD(purchase.grantDate)"></td>
                                <td x-text="methods.formatDateYYYYMMDD(purchase.purchaseDate)"></td>
                                <td
                                    class="has-text-right"
                                    x-text="methods.formatUSD(purchase.offerStartPrice)"></td>
                                <td
                                    class="has-text-right"
                                    x-text="methods.formatUSD(purchase.offerEndPrice)"></td>
                                <td
                                    class="has-text-right"
                                    x-text="methods.formatUSD(purchase.purchasePrice)"></td>
                                <td class="has-text-right" x-text="purchase.shares"></td>
                                <td
                                    class="has-text-right"
                                    x-text="methods.formatUSD(purchase.discountAmount)"></td>
                                <td class="has-text-right" x-text="methods.formatUSD(purchase.gain)"
                                ></td>
                                <td
                                    class="has-text-right"
                                    x-text="
                                        methods.formatUSD(
                                            purchase.disqualifyingDispositionSTCGTaxes
                                        )
                                    "
                                ></td>
                                <td
                                    class="has-text-right"
                                    x-text="
                                        methods.formatUSD(
                                            purchase.disqualifyingDispositionLTGCTaxes
                                        )
                                    "
                                ></td>
                                <td
                                    class="has-text-right"
                                    x-text="methods.formatUSD(purchase.qualifyingDispositionTaxes)"
                                ></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>

        <script src="./espp.client.js"></script>
    </section>
</BaseLayout>
