<nav class="navbar" role="navigation" aria-label="main navigation" x-data="navigationXData()">
    <div class="navbar-brand">
        <a class="navbar-item" href="/"> FiFE </a>

        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            @click="methods.toggleIsActive"
            :class="{ 'is-active': data.isActive }"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" :class="{ 'is-active': data.isActive }">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Work</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/work/espp/">ESPP</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<script src="./navigation.client.ts"></script>
